@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
	font-size: 16px;
}

.navbar {
	background: #34495e;
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	border: none;
	margin-bottom: 0;
}

#logo {
	width: 150px;
}

#logo img {
	width: 100%;
}

.collapse ul li a {
	color:#ccc;
}

.collapse ul li a:hover {
	background: rgba(0,0,0,0.2);
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
}

.navbar-collapse {
	width:100%;
	text-align:center;
	color:white;
}

.navbar-collapse .nav li a {
	color:white;
}


.navbar-collapse .nav li a:hover {
	color:grey;
}

.box-shadow-menu {
	position: relative;
  	padding-left: 1.25em;
  	border: 2px solid #3f6198;
  	background: #333;
}
.box-shadow-menu:before {
	content: "";
	position: absolute;
	margin:0px 3px 3px 3px;
	left: 0;
	top: 0.30em;
	width: 1.5em;
	height: 0.15em;
	background: #fff;
	box-shadow: 
	0 0.25em 0 0 #fff,
	0 0.5em 0 0 #fff;   
}

@media (min-width: 768px) {
	.box-shadow-menu {
		display:none;
	}
}

.box-shadow-menu {
	position: relative;
  	padding: 15px 18px;
  	border: 2px solid #333;
  	background: transparent;
}
.box-shadow-menu:before {
	content: "";
	position: absolute;
	margin: -1px 3px 3px 3px;
	left: 3px;
	top: 10px;
	width: 1.5em;
	height: 0.15em;
	background: #fff;
	box-shadow: 
	0 0.25em 0 0 #fff,
	0 0.5em 0 0 #fff;   
}

@media (min-width: 768px) {
	.box-shadow-menu {
		display:none;
	}
}

#banner {
	background: url(../images/slider/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
}

#banner-msg {
	width: 100%;
	height: 100vh;
	display: table;
}

#b-msg {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}

h1 {
	font-size: 42px;
}

h2 {
	margin: 0;
	margin-bottom: 10px;
}

#social {
	background: #2ecc71;
	color: #fff;
	padding: 100px 0;
}

#social p {
	font-weight: 200;
	margin-top: 5px;
}

.s-logo i {
	font-size: 2em;
}

.s-logo {
	text-align: center;
	margin-top: 5px;
	height: 60px;
	width: 60px;
}

.slogo {
	background: rgba(0,0,0,0.5);
	border-radius: 100%;
	padding: 15px;
}

.s-info {
	margin-bottom: 20px;
}

#projects {
	background: #f5f5f5;
	padding: 100px 0;
	box-sizing: border-box;
}

#p-info {
	margin-bottom: 50px;
}

.p-boxes {
	width: 99%;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #eee;
}

.p-boxes img {
	width: 100%;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

    #carousel-1 {
    white-space: nowrap;
}

#clients {
	background: #e74c3c;
	padding: 100px 0;
	box-sizing: border-box;
	color: #fff;
}

#clients-desc {
	text-align: center;
	margin-bottom: 50px;
}

.cliente {
	margin-bottom: 20px;
}

.client {
	border-left: 5px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	box-sizing: border-box;
}

.opinion {
	font-size: 20px;
}

.someone {
	font-size: 14px;
}

#footer {
	font-size: 14px;
	background: #34495e;
	padding: 50px 0;
	box-sizing: border-box;
	color: #bbb;
}

#footer a {
	color: #bbb;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.media {
	margin-bottom: 5px;
}

.media-left {
	float: left;
}

.media-object {
	width: 90px;
}

.media-body {
	padding-left: 10px;
}

footer {
	background: #2c3e50;
	padding: 20px 0;
	box-sizing: border-box;
	color: #bbb;
}

#f-nav {
	text-align: right;
}

#f-nav a {
	padding: 0 10px;
	box-sizing: border-box;
	color: #bbb;
}

#f-nav a:last-child {
	padding-right: : 0;
}

/* TOP HEADER VERDE DE TODAS LAS VISTAS*/
.top {
	background: #2ecc71;
	padding: 50px 0;
	box-sizing: border-box;
	color: #fff;
}

.breadcrumb {
	background: transparent;
	border-radius: 0;
	text-align: right;
	margin-top: 20px;
}

.breadcrumb a {
	color: #fff;
}
